body
{
	margin: 0;
	padding: 0;
	background: url(/img/libro.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat:no-repeat;
}
.busqueda
{
	width: 1111px;
	height: 750px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 50px 30px 45px;
	border-radius: 10px;
}
.avatar
{
	width: 90px;
	height: 90px;
	top:-50px;
	left: calc(50% - 50px);
	position: absolute;
	border-radius: 70%;
}
.title
{
	margin: 0;
	padding: 0 0 5px;
	text-align: center;
	font-size: 25px;
	margin-bottom: 5px;
}
.busqueda input[type=text]
{
 	color: black;
 	width: 70%;
 	outline: none;
 	height: 35px;
 	font-size: 16px; 
 	padding-left: 5px;
 	border-radius: 5px;
}
tr{
	text-align: center;
}
.tablacontent{
	width: 1050px;
	height: 600px;
	overflow: auto;
}