 body{
	margin: 0;
	padding: 0;
	background: url(/img/libro.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat:no-repeat; 
}
.contenido{
	width: 300px;
	height: 650px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 50px 30px 45px;
	
}
.avatar{
	width: 100px;
	height: 100px;
	top:-50px;
	left: calc(50% - 50px);
	position: absolute;
	border-radius: 50%;
	margin-bottom: 10px;
}
.title{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}
.contenido input[type=text]{
	color: black;
	width: 100%;
	outline: none;
	height: 35px;
	font-size: 16px; 
	padding-left: 5px;
}
.contenido input[type=email]{
	color: black;
	width: 100%;
	outline: none;
	height: 40px;
	font-size: 16px; 
	padding-left: 5px;
	margin-bottom: 10px;
}
.contenido input[type=password]{
	color: black;
	width: 100%;
	outline: none;
	height: 40px;
	font-size: 16px; 
	padding-left: 5px;
	margin-bottom: 10px;
}
.contenido p{
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}
.contenido input[type=submit]{
	margin-top: 20px;
	color: white;
}