body{
	margin: 0;
	padding: 0;
	background: url(/img/libro.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat:no-repeat; 
}
.contenido{
	width: 300px;
	height: 550px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 50px 30px 45px;
}
@media (max-width : 400px)
{
   .contenido
    {
        width: 100%;
   	}
}
.avatar{
	width: 100px;
	height: 100px;
	top:-50px;
	left: calc(50% - 50px);
	position: absolute;
	border-radius: 50%;
	margin-bottom: 10px;
}
.title{
	margin: 0;
	padding: 0 0 10px;
	text-align: center;
	font-size: 22px;
}
.contenido input[type=submit]{
	width: 100%;
	height: 40px;
	margin-top: 10px;
}